/* colors
charcoal: #1f1f1f
light: #fffbf0
lavender: #CBC2D3
yellow: #fff276 */
* {
  box-sizing: border-box;
}

body {
  background-color: #1f1f1f;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #fffbf0;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
  text-transform: uppercase;
}

img {
  width: 100%;
}

a {
  color: #fff276;
  background-color: #1f1f1f;
  text-decoration: none;
}

a:hover {
  color: #fff276;
  background-color: #1f1f1f;
  text-decoration: underline;
}

a:visited {
  color: #fffbf0;
}

a:active {
  color: #fff276;
  background-color: #1f1f1f;
}

a:focus {
  color: #fff276;
  background-color: #1f1f1f;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #fffbf0;
  color: #1f1f1f;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
  margin-bottom: 30px;
  margin-top: 10px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

a.button {
  color: #1f1f1f;
  margin-top: 20px;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
  background-color: #fff276;
}

.button.contact {
  background-color: #fffbf0;
  color: #1f1f1f;
  border: 2px solid#fffbf0;
}

.button.contact:hover {
  background-color: #fff276;
  color: #1f1f1f;
  border: 2px solid#fff276;
}

#contact {
  text-align: center;
  display: flex;
  justify-content: center;
}

header {
  background-color: #1f1f1f;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  display: block;
  padding: 10px 0 4px;
  margin-top: 0px;
}

selector {
  margin: 0 auto;
}

selector {
  position: relative;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work.row {
  padding-bottom: 25px;
  border-bottom: 1px solid #fffbf0;
}

#intro {
  padding-bottom: 10px;
  text-transform: capitalize;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}

.logo {
  max-width: 150px;
}

nav>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
}

nav>ul>li>a:hover {
  color: #fff276;
}

nav>ul>li>a:active {
  color: #fff276;
}

ul {
  padding: 0px;
}

#hero-work {
  background-color: #1f1f1f;
  padding: 20px 0;
  display: inline-block;
  width: auto;
  text-align: center;
}

#hero-about {
  background-color: #1f1f1f;
  padding: 20px 0;
  display: inline-block;
  width: auto;
  text-align: left;
}

#hero-greenback {
  background-color: #1f1f1f;
  padding: 20px 0;
  display: inline-block;
  width: auto;
  text-align: left;
}


#hero span {
  display: block;
}

main {
  padding-top: 85px;
}

#social {
  display: flex;
  list-style-type: none;
  width: 85px;
  justify-content: center;
  margin: 0 auto;
}


#about-page h3 {
  margin-top: 0;
}

#skills {
  text-align: left;
  margin: 0px;
}

#copyright {
  font-size: 12px;
}

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#about-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #fff276;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

#my-work {
  text-align: center;
}

@media only screen and (max-width: 640px){
.navtoggle li:not(:last-child) {
display: none;
}
.navtoggle li:last-child {
display: inline-block;
}
.navtoggle.responsive li{
display: block;
}
}

/*medium screens */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
    margin-top: 0px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    width: 50%;
    padding: 10px;
    display: block;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .logo {
    max-width: 250px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  nav > ul {
  margin: 1em 0;
}

.footer {
  text-align: center;
}

/*large screens*/
@media only screen and (min-width: 1024px) {
  .col-lg-5 {

    float: right;
  }

  .col-lg-7 {
    width: 58.33%;
    text-align: unset;
  }

}

/*x-large screens*/
@media only screen and (min-width: 1440px) {
  .col-lg-5 {
    width: 41.66%;
    float: right;
  }

  .col-lg-7 {
    width: 58.33%;
    text-align: unset;
  }

}
